*{
    list-style: none;
    margin: 0;
    padding: 0;
}

.exp{
    text-align: center;
    position: relative;
    /* margin-top: 42px; */
    transform: translate(-74px,194px);
    font-size: 2rem;
    margin-bottom: 10px;
}
.exp::after{
    content: "";
    position: absolute;
    /* bottom: -17px; */
    left: 559px;
    top: 39px;
    border: 2px solid aqua;
    width: 7vw;
}
.box{
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
   column-gap: 20px;
   justify-content: center;
   align-items: center;
   

}
.box>.sidePart{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
row-gap: 20px;
}
.box>.sidePart>span{
    /* border-bottom: 2px solid; */
    padding-inline: 10px;
    transition: 0.8ms;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: capitalize;

}
.box>.sidePart>span:hover{
   border-right: 2px solid aqua;
   transform: scale(1.1);
   color: aqua;
   cursor: pointer;

}
.section>.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
}



.section>.Card>.fristPerson{
    display: none;
}

.section>.Card>.secondPerson{
    display: none;
}
.section>.Card>.thirdPerson{
    display: none;
}
.section>.Card>.active-class{
    display: block;
    /* margin-bottom: 50px; */
}
.box>.section>.Card>.active-class>.designation{
    margin-bottom: 20px;
    text-transform: uppercase;
  
}
.box>.section>.Card>.active-class>.name>button{
   margin-left: 10px;
   margin-bottom: 20px;
   margin-bottom: 20px;
   padding-inline: 20px;
   padding-block: 3px;

}
.box>.section>.Card>.active-class>.date{
   margin-left: 10px;
   margin-bottom: 20px;
   text-transform: capitalize;
   font-weight: 900;
}
.box>.section>.Card>.active-class>.list>ul{
   margin-left: 10px;
}
.box>.section>.Card>.active-class>.list>ul>li{
    text-transform: capitalize;
    font-weight: 900;
   padding-bottom: 10px;
}